<!DOCTYPE html>
<html lang="en">

<%- include ('../layouts/admin-Header.ejs') %>
<%-include ('../partials/admin-header.ejs') %>
<div class="container-fluid" id="main">
  <div class="">
    <div class="">
      
    </div>
  </div>
<!-- <div class="row">
 <div class="col-lg-10 col-sm-10">
        <div class="row">
          <div class="col-12">
            <h1>Sales Dashboard</h1>
          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-3 col-md-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Sales</h5>
                <p class="card-text"><%=totalSales%></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Revenue</h5>
                <p class="card-text"><%=totalRevenue%></p>
              </div>
            </div>
          </div>
        
          <div class="col-sm-3 col-md-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Orders</h5>
                <p class="card-text"><%=numberOfOrders%></p>
              </div>
            </div>
          </div>
         
        </div>
        <div class="row" style="margin-top: 70px;">
          <div class="col-sm-12 col-md-6" >
            <div id="salesGraph"></div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div id="paymentPieChart"></div>
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  
  
  <script>
    
   var months=JSON.parse(decodeURIComponent('<%=month%>'))
   var monthlySales=JSON.parse(decodeURIComponent('<%=monthlySales%>'))
   if(months==undefined){
    months=''
   }
    var salesOptions = {
      chart: {
        type: 'bar',
        height: '400px'
      },
      series: [{
        name: 'Sales Revenue',
        data: monthlySales
      }],
      xaxis: {
        categories: months
      },
      
    };
  
    var salesChart = new ApexCharts(document.querySelector("#salesGraph"), salesOptions);
    salesChart.render();
  
   
    
  var series = JSON.parse(decodeURIComponent('<%=series%>'))
  var labels =JSON.parse(decodeURIComponent('<%=labels%>'))
  
  
    var paymentOptions = {
      chart: {
        type: 'donut',
        height: '400px'
      },
      series: series,
      labels:labels
    };
    var paymentData =  paymentOptions 
    
    var paymentChart = new ApexCharts(document.querySelector("#paymentPieChart"), paymentOptions);
    paymentChart.render();
  </script>
  
          
        </div>
      </div>
  
  </body>
  
  </html>
  







<%-include ('../partials/admin-sidebar.ejs') %>
<%- include ('../layouts/admin-Footer.ejs') %>
