
<%- include ('../layouts/admin-Header.ejs') %>

<main id="main">
    <%-include ('../partials/admin-header.ejs') %>

<!-- User Listing Table-->
<div class="table-responsive">
    <table class="table m-0 table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>address</th>
                <th>grandTotal</th>
                <th>status</th>
                <th>paymentMethod</th>
                <th>dateOrdered</th>
                <th>deliveredDate</th>
            </tr>
        </thead>
        <tbody>
            <% order.forEach((Order) => { %>
            <tr>
                <td><%= Order.name %></td>
                <td class="text-muted"><%=Order.address %></td>
                <td class="text-muted"><%= Order.grandTotal %></td>
                <td class="text-muted"><%= Order.status %></td>
                <td class="text-muted"><%#= Order.paymentMethod %></td>
                <td class="text-muted"><%= Order.dateOrdered.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                <td class="text-muted"><%#= Order.orderItems %></td>
                <td class="text-muted"><%#= Order.deliveredDate %></td>
            </tr>
            <% }); %>
            
        </tbody>
    </table>









            <%-include ('../partials/admin-sidebar.ejs') %>

        </main>
        
        <%- include('../layouts/admin-Footer.ejs') %>