
<%- include ('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KidZ-Fashion | Template</title>
     <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
   
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </div>
            <div class="offcanvas__top__hover">
               
            </div>
        </div>
        <div class="offcanvas__nav__option">
            
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">₹0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                               
                                <a href="/logout">Logout</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home"><img src="/img/kid-logo.jpg" alt="" width="150" height="100"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/shop">Shop Details</a></li>
                                    <li><a href="/cart">Shopping Cart</a></li>
                                    </ul>
                            </li>
                            </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        
                        <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">
                            <% if (typeof cartCount !== 'undefined') { %>
                            <span><%= cartCount %></span>
                            <% } else { %>
                            <span>0</span>
                            <% } %>
                          </div>
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <table>
                                        <% data.forEach(item => { %>
                                          <tr>
                                            <td class="product__cart__item">
                                              <div class="product__cart__item__pic">
                                                <img style="height: 100px; width: 90px;" src="/product-images/<%= item.carted.images[0] %>" alt="<%= item.carted.name %>">
                                              </div>
                                              <div class="product__cart__item__text">
                                                    <h6><%= item.carted.name.substring(0, 20) %><%= item.carted.name.length > 20 ? '' : '' %></h6>
                                                <p>Price: ₹<%= item.carted.price %></p>
                                              </div>
                                            </td>
                                            <td class="quantity__item">
                                              
                                                <div class="qty-prod">
                                                    <span class="material-symbols-outlined decrement" style="cursor: pointer;">remove</span>
                                                    <p class="quantityValue" data-id="<%= item.carted._id %>"><%= item.quantity %></p>
                                                    <span class="material-symbols-outlined increment" style="cursor: pointer;">add</span>
                                                </div>
                                                  
                                            
                                            </div>
                                            </td>
                                            <td class="cart__price">₹ <%= item.quantity * item.carted.price %></td>
                                            <td class="cart__close">
                                                <i style="cursor: pointer;" data-id="<%= item.carted._id %>" class="fa fa-close delete-icon"></i>
                                            </td>
     
                                            <!-- cart.ejs -->

                                            
                                          </tr>
                                        
                                        <% }); %>
                                      </table>
                                       
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/shop">Continue Shopping</a>
                            </div>
                        </div>
                      
                    </div>
                </div>
                 <div class="col-lg-4">
               <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span><%=totalPrice%></span></li>
                            <li>GrandTotal <span><%=totalPrice%></span></li>
                        </ul>
                        <a href="/checkOut" class="primary-btn">Proceed to checkout</a>
                       </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Boys Collections</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                       
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2023
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="localhost:5000/home" target="_blank">KidZ Fashion</a>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

<!-- Include SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <script>
        // Function to handle the delete action
        function deleteCartItem(productId) {
          // Send a DELETE request to the server with the product ID
          fetch(`/delete_item`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            },
            body:JSON.stringify({ productId }) // Send the product ID in the request body
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            if(data.cartupdated){
                window.location.reload()
            }
          })
          .catch(error => {
            console.error('Error:', error);
            // Handle any errors that occurred during the fetch process
          });
        }
      
        // Add event listener to the delete icon(s)
        const deleteIcons = document.querySelectorAll('.delete-icon');
        deleteIcons.forEach(icon => {
          icon.addEventListener('click', (event) => {
            // Get the product ID from the data-id attribute of the clicked icon
            const productId = event.target.dataset.id;
            deleteCartItem(productId);
          });
        });

        // const quantityElement = document.querySelectorAll('.quantityValue');
        const decrementButtons = document.querySelectorAll('.decrement');
        const incrementButtons = document.querySelectorAll('.increment');

          // Function to update the quantity value and ensure it is not less than 1
    function updateQuantityValue(event,value) {
        const row=event.target.closest('tr');
        const quantityElement=row.querySelector('.quantityValue');
        const newValue = Math.max(parseInt(value), 1); // Ensure the value is not less than 1
        quantityElement.innerText = newValue;
        const qtyValue=quantityElement.innerText;
        updateQuantity(qtyValue);
    }
    
    function updateQuantity(qtyValue, prodId) {
  console.log(prodId);
  let quantity = qtyValue;
  let productId = prodId;
  
  fetch(`/updateQty`, {
    method: 'PATCH',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ quantity, productId }) // Send the product ID in the request body
  })
  .then(async (response) => {
    const responseData = await response.json();

    if (responseData.success === false) {
      Swal.fire({
        title: "Max quantity",
        text: "Quantity limit Exceeds",
        timer: 3000,
        icon: "warning"
      }).then(() => {
        location.reload();
      });
    } else {
      location.reload();
    }
  })
  .catch((err) => {
    console.log(err);
  });
}

      // Handle decrement button click
      decrementButtons.forEach(button => {
  button.addEventListener('click', (event) => {
    // Get the productId from the data-id attribute of the quantityValue element
    const productId = event.target.closest('.quantity__item').querySelector('.quantityValue').dataset.id;

    const currentValue = event.target.nextElementSibling.innerText;
    const newValue = parseInt(currentValue) - 1;
    updateQuantityValue(event, newValue, productId); // Pass the productId to updateQuantityValue function
  });
});

    // Handle increment button click
    incrementButtons.forEach(button => {
  button.addEventListener('click', (event) => {
    // Get the productId from the data-id attribute of the quantityValue element
    const productId = event.target.closest('.quantity__item').querySelector('.quantityValue').dataset.id;

    const currentValue = event.target.previousElementSibling.innerText;
    const newValue = parseInt(currentValue) + 1;
    updateQuantityValue(event, newValue, productId); // Pass the productId to updateQuantityValue function
  });
});
function updateQuantityValue(event, value, productId) {
  const row = event.target.closest('tr');
  const quantityElement = row.querySelector('.quantityValue');
  const newValue = Math.max(parseInt(value), 1); // Ensure the value is not less than 1
  quantityElement.innerText = newValue;
  const qtyValue = quantityElement.innerText;
  updateQuantity(qtyValue, productId); // Pass the productId to updateQuantity function
}



      </script>
      
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>


<%- include ('../layouts/footer.ejs') %>