
<%- include ('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KidZ Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>

button {
  width: 100px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}


button.edit-address {
  width: 100px; /* Adjust the width to your preference */
  height: 60px; /* Adjust the height to your preference */
  font-size: 1em; /* Adjust the font size to your preference */
}





    </style>
</head>

<body>
 <!-- Page Preloder -->
 <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
      <div class="offcanvas__links">
        <a href="#">Sign in</a>
        <a href="#">Login</a>
        <a href="/login">Logout</a>
      </div>
      <!-- <div class="offcanvas__top__hover">
              <span>Usd <i class="arrow_carrot-down"></i></span>
              <ul>
                  <li>USD</li>
                  <li>EUR</li>
                  <li>USD</li>
              </ul>
          </div> -->
    </div>
    <div class="offcanvas__nav__option">
      <a href="/shop" class="search-switch"
        ><img src="img/icon/search.png" alt=""
      /></a>
      <a href="/wishList"><img src="img/icon/heart.png" alt="" /></a>
      <a href="/cart"
        ><img src="img/icon/cart.png" alt="" /> <span>0</span></a
      >
      <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
      <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
  </div>
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="header__top__left">
              <p>Free shipping, 30-day return or refund guarantee.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="header__top__right">
              <div class="header__top__links">
                <!-- <a href="/signup">Signup</a> -->
                <!-- <a href="/login">Login</a> -->
                <a href="/login">Logout</a>
              </div>
              <!-- <div class="header__top__hover">
                              <span>Usd <i class="arrow_carrot-down"></i></span>
                              <ul>
                                  <li>USD</li>
                                  <li>EUR</li>
                                  <li>USD</li>
                              </ul>
                          </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="header__logo">
            <a href="./index.html"
              ><img src="/img/kid-logo.jpg" alt="" width="150" height="100"
            /></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <nav class="header__menu mobile-menu">
            <ul>
              <li><a href="/home">Home</a></li>
              <li class="active"><a href="/shop">Shop</a></li>
              <li>
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="./about.html">About Us</a></li>
                  <li><a href="./shop-details.html">Shop Details</a></li>
                  <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                  <li><a href="./checkout.html">Check Out</a></li>
                  <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
              </li>
              <li><a href="./blog.html">Blog</a></li>
              <li><a href="./contact.html">Contacts</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="header__nav__option">
            <a href="/search" class="search-switch"
              ><img src="img/icon/search.png" alt=""
            /></a>
            <!-- <a href="/wishList"><img src="img/icon/heart.png" alt="" /></a> -->
            <a href="/cart"
              ><img src="img/icon/cart.png" alt="" /> <span>0</span></a
            >
           
          </div>
        </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
  </header>
  <!-- Header Section End -->

  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h4>Shop</h4>
            <div class="breadcrumb__links">
              <a href="/home">Home</a>
              <a href="/shop">shop</a>
              <span>Checkout</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <!-- Address Details Form -->
                <div class="checkout__form">
                    <form action="/checkOut" id="addressForm" method="post">
                      <div class="row">
                        <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
               
                        <div class="row">
                          <%if(address.length>=1){%>
                            <% address.forEach(addrss => { %>
                                <div class="m-3" style="display: block;">
                                    <label> 
                                        <input type="radio" id="shipping_address" name="shippingAddress" value=" <%= addrss.name %>,<%= addrss.mobileNumber %>,<%= addrss.address %>,<%= addrss.locality%>,<%= addrss.city%>, <%= addrss.state %>,<%= addrss.pincode %>,<%= addrss._id %>"checked>
                                        <%= addrss.name%>,<%= addrss.mobileNumber %>,<%= addrss.address%>,
                                        <%= addrss.locality%>,
                                        <%= addrss.city%>,
                                        <%= addrss.state %>, 
                                        <%= addrss.pincode %> 
                                        
                                      </label>
                                      
                                  </div>
                               
                      
                           
                            <% }) %>
                            
                            <div class="col-md-12 form-group">
                              <div class="custom-control custom-checkbox">
                                 
                                  
                                  <a href="/editAddress" class="m-3" id="editAddressLink" >Edit/Change</a>
                                  <a href="/deleteAddress" class="m-3" id="deleteAddressLink" >Delete</a>
                              </div>
                          </div>
                          <%}else{%>
                              <h3>No address found, click below to add new address</h3>
                              <br><br>
                              <a href="/profile">click here</a>

                          <%}%>
                         
                         





                           
                        

                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="checkout__order">
                  <h4 class="order__title">Your order</h4>
                  <div class="checkout__order__products">Product <span>Total</span></div>
                  
                      <% cart.product.forEach(item => { %>
                        <ul class="checkout__total__products">
                        <li>
                          <%= item.productId.name%> <span><%= item.price%></span><br>
                          
                          
                        </li>
                        </ul>
                      <% }); %>
                   
                    
               
                 
                      <ul class="checkout__total__all">
                        <li>Subtotal <span><%= cart.grandTotal%></span></li>
                        <!-- <li>GrandTotal <span> <%= cart.grandTotal %> </span></li> -->
                         <li><a href="#">Discount  <span id="couponOffer"></span></a></li>
                        

                        <li><a href="#">GrandTotal <span id="total">₹<%= cart.grandTotal %></span></a></li>
                                <input type="hidden" name="discountPercentage" id="discountPercentage" value="0">
                                <input type="hidden" name="discountAmount" id="discountAmount" value="0">
                                <input type="hidden" name="total" value="<%=subTotal%>" id="totalVal" >
                                <%if(address[0]){%>
                                <input type="hidden" name="address" value="<%=address[0]._id%>" >
                                <%}else{%>
                                    <%}%>
                    </ul>
                    
                    <div class="coupon_area">
                      <input type="text" placeholder="Enter coupon code" name="couponCode" id="couponCode">
                      <button class="primary-btn-2 text-white"  style="width: 100px; height: 40px; margin-top: 30px;background: black;" onclick="applyCoupon('<%=subTotal.cartTotal%>')" >Apply</button>
                      <h5 id="couponErr"></h5>
              </div> 
                    <div class="checkout__input__checkbox">
                        <label for="acc-or">
                            <!-- Create an account? -->
                            <!-- <input type="checkbox" id="acc-or">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <p></p> -->
                    <form id="checkoutForm" action="/checkOut" method="post">
                      <div class="checkout__input__checkbox">
                          <label for="paymentCOD">
                              Cash on delivery
                              <input type="radio" id="paymentCOD" name="paymentOption" value="Cash On Delivery">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                      <div class="checkout__input__checkbox">
                          <label for="paymentRazorPay">
                              RazorPay
                              <input type="radio" id="paymentRazorPay" name="paymentOption" value="razor">
                              <span class="checkmark"></span>
                          </label>
                      </div>

                      <div class="checkout__input__checkbox">
                        <label for="paymentwallet">
                            Wallet
                            <input type="radio" id="paymentwallet" name="paymentOption" value="Wallet">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    
                      <button type="submit" class="site-btn" onclick="address()">PLACE ORDER</button>
                  </form>
                  <div id="errorText" style="color: red;"></div>
              </div>
          </div>
    </div>
</section>

<p id="message"></p>


<script>


async function address() {
  const address = document.querySelectorAll('input[name="shippingAddress"]');
  let selectedAddress = '';
  for (let i = 0; i < address.length; i++) {
    if (address[i].checked) {
      selectedAddress = address[i].value;
      break;
    }
  }try {
    const response = await fetch(`/shipping-address-save?address=${selectedAddress}`, {
      method: 'GET',
    });

    const data = await response.json();} catch (err) {
    alert('Error' + err);
  }

}

  const editAddressLink = document.getElementById('editAddressLink');
  editAddressLink.addEventListener('click', (event) => {
  const selectedAddressRadio = document.querySelector('input[name="shippingAddress"]:checked');
  if (selectedAddressRadio) {
          const selectedAddress = encodeURIComponent(selectedAddressRadio.value);
          
          // Update the link's href with the selected address as a query parameter
          editAddressLink.href = `editAddress?address=${selectedAddress}`;
      }
  });
</script>


<script>
  const deleteAddressLink = document.getElementById('deleteAddressLink');
  deleteAddressLink.addEventListener('click', (event) => {
    const selectedAddressRadio = document.querySelector('input[name="shippingAddress"]:checked');
    if (selectedAddressRadio) {
      // Extract the "address" parameter from the original URL
      const selectedAddresss = encodeURIComponent(selectedAddressRadio.value);
      // Split the parameter and decode the desired part
      const addressParts = selectedAddresss.split(',');
      const selectedAddress = decodeURIComponent(addressParts[addressParts.length - 1]);
      
      // Set the modified URL
      deleteAddressLink.href = `deleteAddress?address=${selectedAddress}`;
    }
  });
</script>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    const checkoutForm = document.getElementById("checkoutForm");

    checkoutForm.addEventListener("submit", async (e) => {
      e.preventDefault();

      try {
        const selectedPaymentOption = document.querySelector('input[name="paymentOption"]:checked').value;
console.log(selectedPaymentOption)

        
        const response = await fetch("/checkOut", {
          method: "POST",
          headers:{"Content-Type": "application/json"},
          body: JSON.stringify({selectedPaymentOption})
        });

        const data = await response.json();
 

       
        if (response.ok) {
      //     if(!data.status){
      //     Swal.fire({
      //   title: 'Invalid Address!',
      //   text: 'Please Select an Address',
      //   icon: 'Error',
      //   timer: 2000,
      // }).then(() => {
      //   return location.reload()
      // });
      //   }
      if(data.invalid){
        //     Swal.fire({
      //   title: 'Invalid Address!',
      //   text: 'Please Select an Address',
      //   icon: 'Error',
      //   timer: 2000,
      // }).then(() => {
      //   return location.reload()
      // });
      //   }
      Swal.fire({
        title:"Invalid amount",
        text:"CAn't proceed",
           icon: 'Error',
        timer: 2000,

      }).then(()=>{
        return location.reload();
      })

      }
          if(selectedPaymentOption === 'Cash On Delivery'){
            console.log(data.orderid,'fhdifhd')
            console.log('hiiii')
            location.href = '/orderDetails?orderid='+data.orderid
          }else if(selectedPaymentOption === 'Wallet'){
            console.log("wallet reaching here")
            location.href = '/orderDetails?orderid='+data.orderid
          }else{
            razorpay(data)
          }
         
       } else {
            // Handle any errors or display a message
            console.error("Error placing the order.");
          }
        
      } catch (error) {
        console.error("An error occurred:", error);
      }
    });
  });
</script>

 <script>
  function validateAndPlaceOrder() {
    event.preventDefault();
      const paymentCOD = document.getElementById("paymentCOD");
      const paymentRazorPay = document.getElementById("paymentRazorPay");
      const errorText = document.getElementById("errorText");
      
      const isCheckedCOD = paymentCOD.checked;
      const isCheckedRazorPay = paymentRazorPay.checked;
      
      if (!isCheckedCOD && !isCheckedRazorPay) {
          errorText.textContent = "Please select a payment option.";
      } else {

          errorText.textContent = "";
          
          if (isCheckedCOD) {
              // Navigate to orderdetails page
              // window.location.href = "/orderdetails";
              checkoutForm.submit()

          } else if (isCheckedRazorPay) {
              
              checkoutForm.submit()
              razorpay()
          }
      }
    }
  </script>
  
<script>
  // Get a reference to the button element
  var editButton = document.getElementById("editButton");

  // Add a click event listener to the button
  editButton.addEventListener("click", function() {
      // Navigate to the "/profile-edit" page
      window.location.href = "/profile-edit";
  });
</script>

<script>
document.getElementById("addressForm").addEventListener("submit", async (event) => {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    try {
        const response = await fetch("/profile", {
            method: "POST",
            body: formData
        });

        const data = await response.json();

        if (response.ok) {
            document.getElementById("message").textContent = data.message;
        } else {
            document.getElementById("message").textContent = data.error;
        }
    } catch (error) {
        console.error(error);
    }
});

    function calculateSubtotal(cartData) {
        let subtotal = 0;
        cartData.forEach(item => {
            subtotal += item.quantity * item.carted.price;
        });
        return subtotal.toFixed(2); // Format the subtotal as needed
    }

    


</script>
<script>
function applyCoupon(subTotal) {
  let couponCode = document.getElementById('couponCode').value;
  $.ajax({
    url: '/couponVerify/' + couponCode,
    method: 'GET',
    success: (response) => {
      if (response.status == true) {
        $.ajax({
          url: '/applyCoupon/' + couponCode,
          method: 'GET',
          success: (response) => {
            console.log(response,'---');
            if (response.status == true) {
              document.getElementById('couponErr').style.color = '#19ff11'
              document.getElementById('couponErr').innerText = "Coupon Applied SuccessFully"
              // document.getElementById('subTotal').innerText = total - response.discountAmount
              console.log(response.total)
              document.getElementById('total').innerText = '₹' + Math.floor(response.total - response.discountAmount)
              document.getElementById('totalVal').value = Math.floor(response.total- response.discountAmount)
              document.getElementById('couponOffer').innerText = response.discount + '%'
              document.getElementById('discountPercentage').value = response.discount
              document.getElementById('discountAmount').value = Math.ceil(response.discountAmount)


            } else {
              document.getElementById('couponErr').style.color = "#ff0707" 
              document.getElementById('couponErr').innerText = response.message
            }

          }
        })
      } else {
        document.getElementById('couponErr').style.color = "#ff0707"
        document.getElementById('couponErr').innerText = response.message

        setTimeout(function() {
          location.reload()
        }, 5000)
      }

    }
  })
}



</script>
<script>
  // Get references to the elements
  let popupWrappers = document.querySelectorAll(".popup-wrapper");
  let popupForms = document.querySelectorAll(".popup-form");
  let popupBtns = document.querySelectorAll(".btn-reply");
  let popupCloses = document.querySelectorAll(".close-button");

  // Add event listeners to each popup button
  popupBtns.forEach((btn, index) => {
      btn.addEventListener("click", (e) => {
          e.preventDefault();
          showPopup(index);
      });
  });

  // Add event listeners to each popup close button
  popupCloses.forEach((closeBtn, index) => {
      closeBtn.addEventListener("click", (e) => {
          e.preventDefault();
          removePopup(index);
      });
  });

  // Add event listeners to each popup form
  popupForms.forEach((form) => {
      form.addEventListener("submit", () => {
          // Implement your form submission logic here
          removePopup();
      });
  });


</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    
  function razorpay(order) {
console.log(order.order)
    
    var options = {
      "key": "rzp_test_wwV6p287kZHcga", // Enter the Key ID generated from the Dashboard
      "amount": order.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Kidz Fashion",
      "description": "Test Transaction",
      
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function(response) {
        verifypayment()
      },
      "modal": {
      "ondismiss": function() {
        
        paymentFailed();
      }
    },

      "prefill": {
        "name": "order.name",
        "email": "order.email",
        "contact": "order.mobile"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    }
console.log("reaching")

    var rzp1 = new Razorpay(options)
console.log("reaching ok")

    rzp1.open();
console.log("reaching okkk")

  }

  //  


 async  function verifypayment() {
  try {
    const response = await fetch('/verifyPayment', {
      method: 'POST',
    });
    const data = await response.json();
    if (response.ok) {
      console.log(response.orderid)
      Swal.fire({
        title: 'Order Success!',
        text: 'Your order has been placed successfully.',
        icon: 'success',
        timer: 5000,
      }).then(() => {
        location.href = '/orderDetails?orderid='+data.orderid
      });
     
      } else {
        // Handle cases where the payment verification failed
        alert('Payment verification failed. Please try again later.');
        
      }
  } catch (error) {
    console.error("An error occurred:", error);
    alert('An error occurred. Please try again later.');
  }
}


async function paymentFailed() {
  try {
    const response = await fetch('/paymentFailed', {
      method: 'POST',
    });

    if (response.ok) {
      Swal.fire({
        title: 'Order Failed!',
        text: 'Your order has failed.',
        icon: 'error',
        timer: 5000,
      }).then(() => {
        location.href = '/checkOut';
      });
    } else {
      // Handle cases where the payment verification failed
      const responseData = await response.json(); // Assuming server returns JSON
      Swal.fire({
        title: 'Payment Failed',
        text: responseData.message || 'Payment verification failed. Please try again later.',
        icon: 'error',
      });
    }
  } catch (error) {
    console.error('An error occurred:', error);
    alert('An error occurred. Please try again later.');
  }
}




</script>






<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__logo">
              <!-- <a href="#"><img src="img/footer-logo.png" alt=""></a> -->
            </div>
            <p>
              The customer is at the heart of our unique business model, which
              includes design.
            </p>
            <a href="#"><img src="img/payment.png" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="Dress Fashion">
            <h6>Shopping</h6>
            <ul>
              <li><a href="/home">BOYS Clothing Collections</a></li>
              <!-- <li><a href="#">Trending Shoes</a></li>
                          <li><a href="#">Accessories</a></li>
                          <li><a href="#">Sale</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Delivary</a></li>
              <li><a href="#">Return & Exchanges</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6>NewLetter</h6>
            <div class="footer__newslatter">
              <p>
                Be the first to know about new arrivals, look books, sales &
                promos!
              </p>
              <form action="#">
                <input type="text" placeholder="Your email" />
                <button type="submit">
                  <span class="icon_mail_alt"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer__copyright__text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>
              Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              2023 All rights reserved | This template is made with
              <i class="fa fa-heart-o" aria-hidden="true"></i> by
              <a href="localhost:5000/home" target="_blank">KidZ-Fashion</a>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </div>
  </footer>




 <!-- Js Plugins -->
 <script>
function selectOnlyOne(checkbox) {
    var checkboxes = document.getElementsByName('checkbox_group');
    
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] !== checkbox) {
            checkboxes[i].checked = false;
        }
    }
}
</script>
 <script src="js/jquery-3.3.1.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/jquery.nicescroll.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/jquery.countdown.min.js"></script>
 <script src="js/jquery.slicknav.js"></script>
 <script src="js/mixitup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/main.js"></script>
</body>
</html>

<%- include ('../layouts/footer.ejs') %>