<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KidZ Fashion | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        <div class="offcanvas__links">
          <a href="#">Sign in</a>
          <a href="#">Login</a>
          <a href="/login">Logout</a>
        </div>
        <!-- <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div> -->
      </div>
      <div class="offcanvas__nav__option">
        <a href="/shop" class="search-switch"
          ><img src="img/icon/search.png" alt=""
        /></a>
        <!-- <a href="/wishList"><img src="img/icon/heart.png" alt="" /></a> -->
        <a href="/cart"
          ><img src="img/icon/cart.png" alt="" /> <span>0</span></a
        >
        <div class="price">$0.00</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 30-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links">
                  
                  <!-- <a href="/home">Home</a> -->
                  <a href="/login">Logout</a>
                </div>
                <!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="./index.html"
                ><img src="/img/kid-logo.jpg" alt="" width="150" height="100"
              /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/shop">Shop</a></li>
                <li>
                  
                    
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/checkOut">Check Out</a></li>
                   
                  </ul>
                </li>
                
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <a href="/search" class="search-switch"
                ><img src="img/icon/search.png" alt=""
              /></a>
              <!-- <a href="/wishList"><img src="img/icon/heart.png" alt="" /></a> -->
              <a href="/cart"
                ><img src="img/icon/cart.png" alt="" /> <span>0</span></a
              >
              <div class="price">
                <% if (typeof cartCount !== 'undefined') { %>
                <span><%= cartCount %></span>
                <% } else { %>
                <span>0</span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
    <!-- Header Section End -->



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__text">
              <h4>My Orders</h4>
              <div class="breadcrumb__links">
                <a href="/home">Home</a>
                <span>my Orders</span>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->


    
    <!-- <div class="card">
      <div class="card-body">
        <% if (orders.length === 0) { %>
          <p class="text-center">No orders found.</p>
        <% } else { %>
          <ul class="list-group">
            <% orders.forEach(order => { %>
              <li class="list-group-item">
                <h4 class="card-title">Order ID: <%= order._id %></h4>
                <p>Status: <%= order.status %></p>
                <p>Grand Total: $<%= order.grandTotal.toFixed(2) %></p>
                <p>Date Ordered: <%= order.dateOrdered.toDateString() %></p>
                <ul class="list-group">
                  <% order.orderItems.forEach(item => { %>
                    <li class="list-group-item">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <span class="font-weight-bold">Product:</span> <%= item.productId.name %> |
                          <span class="font-weight-bold">Quantity:</span> <%= item.quantity %> |
                          <span class="font-weight-bold">Total:</span> $<%= item.total %>
                        </div>
                      </div>
                    </li>
                  <% }); %>
                </ul>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </div>
    </div> -->




    <!-- Start orders loop -->
    <%console.log("this is orders Length",orders,"wchjebf")%>
    <% for(let i=0;i<orders.length;i++){ %>
			<% for(let j=0;j<orders[i].orderItems.length;j++){ %>
          <div class="container card my-3 border border-1" style="border-radius: 10px;">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <% if (orders[i] && orders[i].dateOrdered) { %>
                  <% var date = new Date(orders[i].dateOrdered); %>
                  <h6 class="text-muted mb-0">Order Date: <%= date.toLocaleDateString('en-US') %></h6>
                  <p class="small text-muted mb-0">Order ID:<%= orders[i]._id %> </p>
                <% } else { %>
                  <h6 class="text-muted mb-0">Order Date: N/A</h6>
                  <p class="small text-muted mb-0">Order ID:<%= orders[i]._id %> </p>
                <% } %>
              </div>
              
              <!-- Start products loop -->
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                   
                    <div class="col-md-2 text-center">
                      <p class="text-muted mb-0"><%=orders[i].orderItems[j].productId.name %></p>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="d-flex justify-content-between">
                        
                        <p class="text-muted mb-0 small" >Price: &#8377;<%= orders[i].orderItems[j].productId.price %></p>
                      </div>
                    </div>
                    <div class="col-md-4"></div> <!-- Empty column to divide space equally -->
                  </div>
                </div>
              </div>

        <!-- End products loop -->
        <div class="d-flex justify-content-between pt-2 align-items-center">
          <div>
            <!-- <p class="fw-bold mb-0">Order Details</p> -->
            <p class="text-muted mb-0 pt-2">Order Status: <%= orders[i].status %></p>
            <p class="text-muted mb-0 pt-2">Payment Method: <%= orders[i].paymentMethod %></p>
          </div>
          <!-- <h4 class="text-muted mb-0"><span class="fw-bold">Total: </span>&#8377;<%= orders[i].orderItems[j].grandTotal %></h4> -->
        </div>
      </div>
      <div class="row card-footer border-0 py-4" style="background-color: #221e1e; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;"> 
          <!-- Order buttons and actions -->
      <%if(orders[i].status==="delivered"){%>
              <a  href="/invoice/<%=orders[i]._id %> "class="btn btn-primary text-align ">Get invoice</a>
              <%}%>
            <%if(orders[i].status==="placed" || orders[i].status==="shipped"){%>
           <div class="d-flex align-items-start">
            <a class="btn btn-warning text-white" onclick="cancelOrder('<%=orders[i].orderItems[j].productId._id%>','<%=orders[i]._id%>','<%=orders[i].status%>','<%=orders[i].orderItems[j].quantity%>','Cancel Requested')">Cancel Order</a>

          </div>
          <%}%>
           <%if(orders[i].status==="delivered"){%>
            <button onclick="returnOrder('<%=orders[i].orderItems[j].productId._id%>','<%=orders[i]._id%>','<%=orders[i].orderItems[j].quantity%>')" class="btn btn-danger">Return</button> 

            <%}%>
          
          <!-- <div class="d-flex align-items-start">
            <a class="btn btn-danger text-white" onclick="cancelOrder('<%= orders[i]._id %>','Return Requested')">Return Order</a>

          </div> -->


          <%if(orders[i].status=='refund-approved'){%>
            <td><a>Cash debited to wallet</a></td>
        <%}%>
        <%if(orders[i].status=='return-denied'){%>
            <td><a>Oops!</a></td>
        <%}%>   
          <div class="d-flex align-items-start">
            <a href="/viewOrderDetails?id=<%=orders[i]._id%>" style="text-decoration: none;">
              <button class="btn btn-secondary text-white" style="font-size: 17px;">View Details</button>
            </a>
          </div> 



          

                 
        </div>
        
      
      
    </div>
<% } %>
<% } %>
<!-- End orders loop -->
    
  
  
  
  



     <!-- Footer Section Begin -->
     <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__logo">
                <!-- <a href="#"><img src="img/footer-logo.png" alt=""></a> -->
              </div>
              <p>
                The customer is at the heart of our unique business model, which
                includes design.
              </p>
              <a href="#"><img src="img/payment.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
            <div class="Dress Fashion">
              <h6>Shopping</h6>
              <ul>
                <li><a href="/home">BOYS Clothing Collections</a></li>
                <!-- <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h6>Shopping</h6>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Delivary</a></li>
                <li><a href="#">Return & Exchanges</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
            <div class="footer__widget">
              <h6>NewLetter</h6>
              <div class="footer__newslatter">
                <p>
                  Be the first to know about new arrivals, look books, sales &
                  promos!
                </p>
                <form action="#">
                  <input type="text" placeholder="Your email" />
                  <button type="submit">
                    <span class="icon_mail_alt"></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="footer__copyright__text">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>
                Copyright ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                2023 All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="localhost:5000/home" target="_blank">KidZ-Fashion</a>
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
  
  function returnOrder(prdctId, orderId, status, qty) {
  $.ajax({
    url: '/returnOrder',
    method: 'put',
    data: {
      orderId: orderId,
      prdctId: prdctId,
      qty: qty,
      status: status
    },
    success: (response) => {      
        location.reload();
       
    },
    error: (xhr, textStatus, errorThrown) => {
      console.error('AJAX request failed:', textStatus, errorThrown);
    
    }
  });
}

      
      function cancelOrder(prdctId,orderId,status,qty)
      {
        console.log(status)
        $.ajax({
          url:'/cancelOrder',
          method:'put',
          data: {
            orderId: orderId,
            prdctId:prdctId,
            qty:qty,
        status:status
  
          },
          success:(response)=>
          {
            if(response)
            {
              location.reload()
            }
          }
        })
      }
      
      </script>





  </body>
</html>
