<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KidZ Fashion | Template</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <style>
      .contactButton {
  background: #7079f0;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1.0em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}
    </style>
  </head>

  <body>
   <div id="preloder">
      <div class="loader"></div>
    </div>
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        <div class="offcanvas__links">
          <a href="/login">Logout</a>
        </div>
       </div>
      <div class="offcanvas__nav__option">
        <a href="/search" class="search-switch"
          ><img src="img/icon/search.png" alt=""
        /></a>
        <a href="/wishList"><img src="img/icon/heart.png" alt="" /></a>
        <a href="/cart"
          ><img src="img/icon/cart.png" alt="" /> <span>0</span></a
        >
        <div class="price">$0.00</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
    </div>
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 30-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links">
                  <a href="/login">Logout</a>
                </div>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="./index.html"
                ><img src="/img/kid-logo.jpg" alt="" width="150" height="100"
              /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/shop">Shop</a></li>
                <li>
                  <a href="#">Pages</a>
                  <ul class="dropdown">
                  <li><a href="/shop">Shop Details</a></li>
                    <li><a href="/cart">Shopping Cart</a></li>
                   </ul>
                </li>
                </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <a href="/cart"
                ><img src="img/icon/cart.png" alt="" /> <span>0</span></a
              >
              <div class="price">
                <% if (typeof cartCount !== 'undefined') { %>
                <span><%= cartCount %></span>
                <% } else { %>
                <span>0</span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
    <section class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__text">
              <h4>Shop</h4>
              <div class="breadcrumb__links">
                <a href="/home">Home</a>
                <span>Shop</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="shop__sidebar">
              <div class="shop__sidebar__search">
                
                <form
                  action="/search"
                  method="post"
                  class="search-form"
                  style="margin-left: 10px"
                >
                  <input type="text" placeholder="Search..." name="search" />
                  <button type="submit">
                    <span class="icon_search"></span>
                  </button>
                </form>
              </div>
              <div class="shop__sidebar__accordion">
                <form action="">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-heading">
                      
                      <a data-toggle="collapse" data-target="#collapseOne"
                        >Categories</a
                      >
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse show"
                      data-parent="#accordionExample"
                    >
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul style="list-style: none; padding: 0; margin: 0;">
                          <% allcategory.forEach(function(item) { %>
                         
                          <li>
                            <input type="checkbox" name="category" id="" value="<%=item._id%>"><%=item.name%>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                    
                    <script>
                      function handleCategoryClick(categoryId) {
                        
                        window.location.href = '/categoryShop?id=' + categoryId;
                      }
                    </script>
                    
                    </div>
                  </div>
                  <div class="card">
                   
                  </div>
                  <div class="card">
                    <div class="card-heading">
                      <a data-toggle="collapse" data-target="#collapseThree"
                        >Sort By Price</a
                      >
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse show"
                      data-parent="#accordionExample"
                    >
                      <div class="card-body">
                        <div class="shop__sidebar__price">
                          <ul>
                            <li>
                              <input type="checkbox" name="low" value="low" >Low 
                            <input type="checkbox" name="high" id="" value="high"> High </li>
                          </ul>
                          
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
                  <ul>
                    
                      <!-- <button type="submit">submit</button> -->
                      <button class="contactButton"> Go
                        <div class="iconButton">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                        </div>
                      </button>
                    
                  </ul>
                  <div class="card">


                    <!-- <div class="card">
                      <div class="card-heading">
                          <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                      </div>
                      <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                          <div class="card-body">
                              <div class="shop__sidebar__size">
                                  <label for="sm">S
                                      <input type="radio" id="sm">
                                  </label>
                                  <label for="md">M
                                      <input type="radio" id="md">
                                  </label>
                                  <label for="xl">L
                                      <input type="radio" id="l">
                                  </label>
                                  
                              </div>
                          </div>
                      </div>
                  </div> -->
                    
                  </div>



                  <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                  -->
                </div>
              </form>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="shop__product__option">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="shop__product__option__left">
                    <!-- <p>Showing 1–12 of 126 results</p> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="shop__product__option__right">
                    <!-- <p>Sort by Price:</p> -->
                 <!-- <select id="sort-select">
                    <a href=""> <option value="lowToHigh">Low To High</option>
                     <a href=""> <option value="highToLow">High To Low</option></a>
                      <a href="/productsort?sort=lowToHigh">Sort by Price: Low to High</a>
                      <a href="/productsort?sort=highToLow">Sort by Price: High to Low</a>

                    </select> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row product__filter">
              <% allProducts.forEach(product => { %>
                <% if(product.is_listed){%>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                  <div class="product__item__pic set-bg" data-setbg="">
                    <a href="/single-product?id=<%=product.id%>"
                      ><img src="/product-images/<%= product.images[0] %>"
                    /></a>
                    <ul class="product__hover">
                      <li>
                        <!-- <a href="#"><img src="img/icon/heart.png" alt="" /></a> -->
                      </li>
                      <!-- <li>
                        <a href="#"
                          ><img src="img/icon/compare.png" alt="" />
                          <span>Compare</span></a
                        >
                      </li>
                      <li>
                        <a href="/search"><img src="img/icon/search.png" alt="" /></a>
                      </li> -->
                    </ul>
                  </div>
                  <div class="product__item__text">
                    <h6><%= product.name %></h6>
                    <a href="/addtocart?id=<%=product.id%>" class="add-cart">+ Add To Cart</a>

                    <!-- <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div> -->
                    <h5><%= product.price%></h5>

                    <!-- <div class="product__color__select">
                      <label for="pc-4">
                        <input type="radio" id="pc-4" />
                      </label>
                      <label class="active black" for="pc-5">
                        <input type="radio" id="pc-5" />
                      </label>
                      <label class="grey" for="pc-6">
                        <input type="radio" id="pc-6" />
                      </label>
                    </div> -->
                  </div>
                </div>
              </div>
              <%}%>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="product__pagination">
              <div class="pagination-wrap">
                <ul class="pagination-ul">
                 <li>
                   <% let i=1 %>
                  <% for (const link of paginationLinks) { %>
                    <a href="<%= link %>"><%= i++ %></a>
                  <% } %>
                 </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__logo">
               <!-- <a href="#"><img src="img/footer-logo.png" alt=""></a>  -->
              </div>
              <p>
                The customer is at the heart of our unique business model, which
                includes design.
              </p>
              <a href="#"><img src="img/payment.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
            <div class="Dress Fashion">
              <h6>Shopping</h6>
              <ul>
                <li><a href="/home">BOYS Clothing Collections</a></li>
                 <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li> 
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h6>Shopping</h6>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Delivary</a></li>
                <li><a href="#">Return & Exchanges</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
            <div class="footer__widget">
              <h6>NewLetter</h6>
              <div class="footer__newslatter">
                <p>
                  Be the first to know about new arrivals, look books, sales &
                  promos!
                </p>
                <form action="#">
                  <input type="text" placeholder="Your email" />
                  <button type="submit">
                    <span class="icon_mail_alt"></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="footer__copyright__text">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>
                Copyright ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                2023 All rights reserved | This template is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by
                <a href="localhost:5000/home" target="_blank">KidZ-Fashion</a>
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
    const lowCheckbox = document.getElementById("lowCheckbox");
    const highCheckbox = document.getElementById("highCheckbox");

    // Check the user's preferences and set the checkboxes accordingly
    // You can fetch this information from the server or other sources
    const userPreferences = getUserPreferences(); // Implement this function to get user preferences

    if (userPreferences.includes("low")) {
        lowCheckbox.checked = true;
    }

    if (userPreferences.includes("high")) {
        highCheckbox.checked = true;
    }

    const sortForm = document.getElementById("sort-form");

    sortForm.addEventListener("submit", function (e) {
        e.preventDefault();
        // Get the user's selected preferences
        const selectedPreferences = [];

        if (lowCheckbox.checked) {
            selectedPreferences.push("low");
        }

        if (highCheckbox.checked) {
            selectedPreferences.push("high");
        }

        // Send the selectedPreferences to the server for sorting/filtering
        // Implement your server-side logic here to sort/filter the products
        // Update the product list accordingly

        // After the server operation, you can refresh or update the product list
        // Example: window.location.reload();
    });
});


</script>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
